.global_invert {
    filter: invert(1);
}
.column_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
  --shadow-sm: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.global_popup {
    position: absolute;
    z-index: 800;
    top: 0;
    left: 0;
}

.global_xInvert {
    transform: scaleX(-1);
}
.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.margin_top_15 {
    margin-top: 8px;
}
.flex_center {
    justify-content: space-evenly;
}