.global_invert {
    filter: invert(1);
}
.column_align_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
  --shadow-sm: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --brush: url("./brush-light.svg");

}
.global_popup {
    position: absolute;
    z-index: 800;
    top: 0;
    left: 0;
}

.global_xInvert {
    transform: scaleX(-1);
}
.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.margin_top_15 {
    margin-top: 8px;
}
.flex_center {
    justify-content: space-evenly;
}

.button {
    background: rgb(39, 39, 39);
    color: white;
    border: 2px solid white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.button:hover {
    border: 2px solid rgb(196, 47, 226) !important;
}
.absolute_centered {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle {
    color: rgb(0, 0, 0);
    font-size: 20px;
}
.input_number {
    width: 100px;
    outline: none;
    border: none;
    height: 35px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid white;

}

.karaoke_input {
    -webkit-appearance: none;  /* removes iOS default styles */
    appearance: none;
    line-height: normal;       /* stops weird vertical stretching */
    padding: 1px;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 2px solid white;
    transition: all .2s ease-in-out;
}
.input_error {
    border: 2px solid #ff5959 !important;
}