/*1494*/
/*1210 Removing Items which dont exist anymore*/
/*1166 Removing spaces lol*/
/*1011*/
body,html {
    background-color: #dd77c4;
    background-image: url("../img/background3.jpg");
    background-size: cover; /* Scales the image to cover the element */
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
    font-family: "Inter", sans-serif;
    padding: 0;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}
.scene {
    display: none;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
}
#scene_screenSelection {
    background-color: #000;
    justify-content: center;
}
.user {
  position: fixed;
  inset: 0;
  overflow: hidden;   /* THIS is the key */
}
.user_activity {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    transition: transform 250ms cubic-bezier(.2,.8,.2,1);
}
.slideLeft {
    transform: translateX(-95%)
}
.admin_slide {
    width: 95%;
    transform: translateX(100%);
    overflow: hidden;
    height: 100%;
    right: 0px;
    transition: transform 250ms cubic-bezier(.2,.8,.2,1);
    position: fixed;
    z-index: 999;
    background: #222222;
    top: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.qrCodeHolder {
    position: absolute;
    width: 18%;
    left: 10px;
    bottom: 10px;
    padding: 5px;
    z-index: 500;
}
.qrCodeImg {
    width: 80%;
    border-radius: 5px;
    box-shadow: var(--shadow-sm);
}
.screenLogo {
    z-index: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 15px;
    margin: auto;
}
.screenLogo > * {
    font-size: 30px !important;
}
.column1Fill {
    flex: 1;
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 18% !important;
}
.displayingPort {
    background: black;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    height: 100%;
}

.queueList {
    width: 100%;
}
.queueSong {
    position: relative;
    width: 90%;
    height: 50px;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: var(--shadow-sm);
    padding: 10px;
    flex-direction: column;
}
.appearingText {
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 50px;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: max-content;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.appearingTextLarge {
    font-size: clamp(50px, 1.2vw, 120px);
}
.appearingTextSmall {
    font-size: clamp(30px, 1.2vw, 70px);
}

.title {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}

.addQueue {
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: bold;
    background: #ffffff;
    width: 120px;
    font-size: 15px;
    margin-right: 10px;
    box-shadow: var(--shadow-sm);
}


.blurredBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.541);
}
.displayingVideo {
    width: 95%;
}

input, select {
  font-size: 16px !important;
}

.addSongTopRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 35px;
    display: none;
    width: 100%;
    flex-shrink: 0;
    justify-content: space-evenly;
    margin-top: 5px;
}
.singMode {
    padding: 10px;
    transition: all .2s ease-in-out;
    opacity: 0.5;
    color: white;
}
.active {
    opacity: 1;
    font-weight: bold;
}
.inputFullBar {
    width: 95% !important;
    padding-left: 30px;
    border: 2px solid rgb(207, 207, 207);
}
.inputSearchContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 3px;
    background-color: white;
    margin-left: 10px;
    z-index: 300;
    height: 40px;
    width: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
}
.changesong_searchContainer {
    top: 50px;
    padding-left: 0px !important;
}
.changesong_searchicon {
    margin-left: 0px !important;
}
.inputSelected {
    border: 2px solid rgb(196, 47, 226) !important;
}
.songTitle {
    -webkit-appearance: none;  /* removes iOS default styles */
    appearance: none;
    line-height: normal;       /* stops weird vertical stretching */
    padding: 1px;
    height: 90%;
    border: none;
    outline: none;
    border-radius: 5px;
    flex: 1;
}
.findSongButton {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    z-index: 302;
    transition: all .2s;
    transform: scale(0.75); 
}



.sideRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 35px;
}
.leaveChangeHolder {
    height: 25px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    z-index: 500;
}
.leaveChangeHolder > * {
    aspect-ratio: 1/1;
    height: 95%;
}
.adminControlsHolder {
    width: 30px;
    margin-right: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 299;
}
.adminControlsIcon {
    height: 30px;
    width: 30px;
    z-index: 500;
}

.logo {
    width: 100%;
    height: 40px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.logo > img {
    height: 100%;
}
.logoText  {
    font-size: 20px;
    font-weight: bold;
    margin: 1px;
}
.logoBrownText {
    color: #ffffff;
}
.logoRedText {
    background-image: linear-gradient(
        90deg,
        #f5a0f1,
        #cf50da,
        #d84efa
    );
    background-size: 300% 300%;
    animation: gradientShift 3s ease-in-out infinite;
    color: transparent;
    background-clip: text;
}

.songResultsDiv {
    padding-top: 10px;
    width: 95%;
    flex: 1;
    overflow-y: scroll;
    padding-bottom: 100px;
}
#currentSong {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 73px;
    color: white;
}
.songListing {
    width: 100%;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    box-shadow: var(--shadow-sm);
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 73px;
    color: white;
}
.songListing_b {
    width: 100%;
    background: rgba(0, 0, 0, 0.322);
    border-radius: 10px;
    box-shadow: var(--shadow-sm);
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7vh;
    color: white;

}
.usersSong {
    border: 2px solid rgba(109, 245, 104, 0.89);
}
.screenQueueObject {
    background: rgba(2, 10, 0, 0.904) !important;
}
.section1,.section3 {
    min-width: 0; /* THIS is the secret */
    display: flex;
    align-items: center;
    justify-content: center;
}
.section1 {
    height: 100%;
    aspect-ratio: 1/1;
}
.section3 {
    width: 15%;
    height: 100%;
    margin-left: 3px;
}
.s1IconHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}
.s1IconAddSong {
    width: 90%;
    height: 90%;
}
.s1IconAddSong2 {
    width: 50% !important;
    height: 50% !important;

}
.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: max-content;
    height: 100%;
    padding-right: 10px;
}
.s3IconHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    aspect-ratio: 1/1;
}
.s3IconFavorite {
    width: 100%;
    height: 100%;
}
.s3IconFavorite:active {
  animation: likeBounce 150ms ease-out;
}
.section2 {
    min-width: 0; /* THIS is the secret */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.s2DivRow {
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0; /* THIS is the secret */
    white-space: nowrap;
    overflow: hidden; /* Hides overflowing text */
    text-overflow: clip;
    justify-content: start;
    opacity: 0.8;
    height: 14px;
}
.s2DivMini {
    font-size: 11px;
    color: #ffffff;
}
.s2Div2 {
    min-width: 0; /* THIS is the secret */
    white-space: nowrap;
    overflow: hidden; /* Hides overflowing text */
    text-overflow: clip;
}
.s2Div {
    width: 100%;
    min-width: 0; /* THIS is the secret */
    white-space: nowrap;
    overflow: hidden; /* Hides overflowing text */
    text-overflow: clip;
}
.s2TextLight{
    opacity: 0.5;
    font-size: clamp(13px, .8vw, 25px);
}
.s2TextBold{
    font-size: clamp(16px, .8vw, 32px);
}
.s2TextCenter {
    text-align: center;
    width: 100%;
    font-size: clamp(20px, .8vw, 50px);
}


.showNameInput {
    outline: none;
    border-radius: 2px;
    background-color: white;
    height: 40px;
    width: 90%;
    margin-top: 10px;
    border: 2px solid rgb(207, 207, 207);
    transition: all .1s ease-in-out;
}


.playingLines {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 65%;
    height: 50%;
    max-width: 35px;
}
.playingLine {
    width: 3px;
    background: white;
}
.animation0 {
    animation: bounceRandom0 2.5s infinite linear;
}
.animation1 {
    animation: bounceRandom3 3s infinite linear;
}
.animation2 {
    animation: bounceRandom4 3.5s infinite linear;
}
.animation3 {
    animation: bounceRandom2 3.4s infinite linear;
}
.animation4 {
    animation: bounceRandom1 3.4s infinite linear;
}


#queueSheet {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 80px; /* closed height */
  background: rgb(71, 71, 71);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  z-index: 600;
}

#queueSheet.open {
  height: 90vh; /* fullscreen height */
}
#collapseBtn {
    width: 25px;
    margin-right: 15px;
}
.collapseBtnReversed {
    transform: rotate(180deg);
}
#dragHandle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
  user-select: none;
}

#queueContent {
  padding: 16px;
  color: white;
}

.queueTitle {
    width: 100%;
    text-align: left;
    font-size: 16px;
    color: white;
}
.queueTitle_b {
    width: 100%;
    text-align: center;
    font-size: clamp(20px, 1.2vw, 50px);
    color: white;
}
.clearSearch {
    height: 70%;
    margin-right: 5px;
}

.emptyName {
    background: rgb(255, 160, 160);
}

.displayDiv {
    width: 100%;
    height: 100vh;
    background: rgb(143 221 142);
    background-image: url("../img/background3.jpg");
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 501;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
}

.signed_header {
    width: 100%;
    padding-top: 10px;
    height: max-content;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.header {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    position: absolute;

}
.sidebyside {
    display: flex;
    align-items: baseline;
}
.displayTitle,.adminHeaderTitle {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.adminTypeTitle {
    color: rgba(255, 255, 255, 0.603);
    font-size: 14px;
    font-weight: bold;
}
.displayExit,.admin_exit {
    width: 25px;
}
.displayBody {
    width: 95%;
    flex: 1;
    margin-top: 55px;
    padding-top: 10px;
    overflow-y: auto;
    padding-bottom: 150px;
    overflow-x: hidden;
}
.userStatSongs {
    width: 100%;
    box-sizing: border-box;
    padding-top: 5px;
    height: 80vh;
}
.groupBoxTitle {
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    font-size: 25px;
}
.groupChoices {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 98%;
    justify-content: left;
}
.userStatDiv {
    border-radius: 5px;
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
    height: 60px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 3px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.767);

    box-shadow: var(--shadow-sm);

    background: linear-gradient(to bottom, #403443, #28192b);
}
.userStatTitle {
    font-size: 17px;
    padding-top: 5px;
    padding-left: 5px;
}
.userStatDiv::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 3px;


  pointer-events: none;
}

  .userStatImgContainer {
    position: absolute;
    right: -5px;
    bottom: -5px;
    width: 60px;
    height: 60px;

  }
.userStatImg {
    width: 90%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}
.img_main {
    z-index: 2;

}
.img_glow {
    z-index: 1;
    transform: scale(1.01) translate(-50%, -50%);
}

#globalStat_popular {
    box-shadow:/* h-shadow v-shadow blur spread color */
    0 0 10px 1px rgba(255, 145, 0, 0.7),
    0 0 20px 1px rgba(255, 115, 0, 0.4)

}
#userStat_mostPlayed {
    box-shadow:/* h-shadow v-shadow blur spread color */
    0 0 10px 1px rgba(76, 0, 255, 0.7),
    0 0 20px 1px rgba(119, 0, 255, 0.4)
}
#userStat_Favorites {
    box-shadow:/* h-shadow v-shadow blur spread color */
    0 0 10px 1px rgba(255, 0, 140, 0.7),
    0 0 20px 1px rgba(255, 0, 170, 0.4)
}
#userStat_History {
    box-shadow:/* h-shadow v-shadow blur spread color */
    0 0 10px 1px rgba(21, 255, 0, 0.7),
    0 0 20px 1px rgba(9, 255, 0, 0.4)
}
#img_most_played {
    filter: drop-shadow(0 0 10px rgba(162, 0, 255, 0.8));

}
#img_artists {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.8));

}
#img_favorites {
    filter: drop-shadow(0 0 10px rgba(255, 0, 119, 0.8));

}
#img_history {
    filter: drop-shadow(0 0 10px rgba(21, 255, 0, 0.8));

}

.historyMarker {
    width: 100%;
    text-align: left;
    color: white;
    padding-left: 20px;
    margin-top: 10px;
}
.songResultsGradient {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    z-index: 502;
    transition: all 0s ease-in-out;
    background: #000000;
background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(217, 78, 110, 0) 20%)
}
/* Fullscreen splash */
#splash {
    position: fixed;
    inset: 0;
    background: #000; /* or whatever your brand background is */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.8s ease;
}

/* Fade-out class gets added by JS */
#splash.hidden {
    opacity: 0;
}

/* Optional animation on logo */
#splash .logo {
    transform: scale(0.9);
    opacity: 0;
    animation: splashPop 0.8s ease forwards;
}



.as_title {
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin-top: 5px;
}
.as_inputs {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.as_input {
    background: white;
    border-radius: 3px;
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
}
.as_input_empty {
    color: rgba(56, 56, 56, 0.315);
}
.pinpad {
    gap: 5px;
    margin-top: 10px;
}
.pinpad_row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.pinpad_option {
    background: white;
    box-shadow: var(--shadow-sm);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: all .2s ease-in-out;
}
.pinpad_option:active {
    font-size: 25px;
}

.adminLogo {
    position: relative !important;
    background: rgba(48, 48, 48, 0.185);
    padding-top: 10px;
    padding-bottom: 10px;
}
.adminLogo > * {
    font-size: 30px !important;
}
.songCover {
    height: 100% !important;
    margin-right: 3px;
}
.songCover > * {
    border-radius: 10px;
}
.errorText {
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    font-size: 18px;
}



.adminBody {
    width: 100%;
    flex: 1;
    margin-top: 50px; 
    overflow-y: auto;
    overflow-x: hidden;
}
.adminGroup {
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    
}
.adminTitle {
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 3px;
}
.adminTimer {
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 3px;
}

.volumeSliderHolders {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 180px;
    justify-content: space-evenly;
}
.volumeSliderGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50px;
}
.volumeSliderGroup > img {
    aspect-ratio: 1/1;
    width: 70%;
}
.v-slider {
  position: relative;
  width: 28px;
  flex: 1;
  touch-action: none;
  margin-top: 15px;
  margin-bottom: 15px;
}

.track {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 12px;
  height: 100%;
  background: #2b2b2b;
  border-radius: 3px;

  -webkit-box-shadow: inset 0px 0px 1px 2px rgba(255,255,255,0.80); 
box-shadow: inset 0px 0px 1px 2px rgba(255,255,255,0.80);
}

.thumb {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 22px;
  height: 30px;
  background: #000000;
  border-radius: 5px;
  cursor: pointer;
}


.adminTimerScroll {
    -webkit-appearance: none !important;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 25px;
    height: 6px;
    background: rgb(0, 0, 0); /* track color */
    border-radius: 5px;
    outline: none;
}

/* Thumb */
.adminTimerScroll::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);  /* thumb color */
    border-radius: 50%;
    border: 2px solid #3d3d3d; /* optional so you can see it */
}
.adminTimerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
}
.adminGroup {
    border-radius: 10px;
    width: 95% !important;
    box-shadow: var(--shadow-sm);
}
.adminMusic {
    background: rgb(255, 255, 255);
}
.adminVolume {
    background: rgb(255, 255, 255);
}
.adminGeneral {
    box-shadow: none !important;
}
.adminGeneral > * {
    color: white !important;
}
.explanitoryText {
    opacity: 0.6;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 12px;
}
.explanitoryText2 {
    opacity: 0.9;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
    font-size: 12px;
}
.adminUsers {
    background: rgb(247 183 86);
}
.adminMusicSetting {
    height: 40%;
    aspect-ratio: 1/1;
}
.adminMusicPlay{
    height: 70%;
    aspect-ratio: 1/1;
}
.adminSettingRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 5px;
}
.adminLabel {
    width: 50%;
    text-align: right;
    padding-right: 3px;
    color: white;
    font-size: 17px;
}
.adminInputAll {
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px !important;
    box-shadow: var(--shadow-sm);
    text-align: center;
    height: 80%;
    box-sizing: border-box;
    outline: none;
    border: 2px solid white;
}
.admin_input_number {
    width: 20%;
    box-sizing: border-box;
}
.admin_input_select {
    width: 25%;
    margin-left: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: white;
    color: black;
    padding: 2px;
    height: 25px;
    font-size: 16px;
    /* remove blue highlight ring */
    outline: none;
}


/* OPTIONS MENU */
.admin_input_select option {
    background: white;
    color: black;
    border: none;
}
.admin_input_checkbox {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;        /* Safari-friendly – must set width + height */
    height: 25px;       /* instead of aspect-ratio */
    background: white;
    border: 2px solid #ccc;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}
.admin_input_checkbox:active {
    scale: 1.1;
}

/* checkmark (Safari-friendly) */
.admin_input_checkbox:checked::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 8px;
    height: 14px;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
}




.admin_signout_holder {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_signout {
    text-align: center;
    width: 100%;
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    color: #cf9eff;
}

.scren_finish {
    border-radius: 5px;
    border: 2px solid rgba(109, 245, 104, 0.89);
    background: rgb(255, 255, 255);
    height: 45px;
    line-height: 45px;
    width: 300px;
    box-shadow: var(--shadow-sm);

    color: rgba(109, 245, 104, 0.89) !important;
    cursor: pointer;
    transition: all .2s ease-in-out;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.scren_finish:hover {
    scale: 1.05;
}

.videoDelayTracker {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1000;
    font-size: 30px;
    color: red;
    display: none;
}

.menu {
    background: rgba(255, 255, 255, 0.938);
    max-width: 20vw;
    height: max-content;
    padding: 20px;
    border-radius: 5px;
    box-shadow: var(--shadow-sm);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.menu * {
    color: black;
}
.menu > .explanitoryText {
    font-size: 15px;
    color: rgb(2, 2, 2);
}


.qp_icon_holder {
    height: 100%;
    aspect-ratio: 1/1;
    margin-left: 7px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.qp_icon_holder > img {
    opacity: 0.8;
    aspect-ratio: 1/1;
    height: 80%;
    border-radius: 5px;
    transition: background .1s ease-in;
}
.qpIconSelected {
    background: rgba(0, 0, 0, 0.123);
}
.changeSongTitle {
    color: white;
    font-weight: bold;
    font-size: 20px;
    flex: 1;
    margin-left: 10px;
}
.queueSmallText {
    color: rgba(255, 255, 255, 0.479);
    font-size: 13px;
}
.queueSmallText_b {
    color: rgba(255, 255, 255, 0.479);
    
    font-size: clamp(15px, 1vw, 40px);
    width: 100%;
    text-align: center;
}


.popup_title,.popup_title2 {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.promptOK {
    background-color: #9738e9;
    margin-bottom: 10px;
    box-shadow: var(--shadow-sm);
    color: white;
    margin-top: 5px;
}
.popup_bottomRow {
    margin-top: 15px;
    align-items: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.popup_button {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}
.popup_cancel {
    background: rgb(135 135 135);
    box-shadow: var(--shadow-sm);
    color: white;
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup_cancel:active {
    background: rgb(252, 113, 113);
}
.popup_affirm {
    background-color: #9738e9;
    color: white;
}

.queuePopup2 {
    padding: 3px;
    opacity: 0;
    pointer-events: none;
    width: max-content;
    height: 30px;
    background: rgb(235, 235, 235);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.2) -2.95px 3.95px 2.6px;
    align-items: center;
    transition: opacity .1s ease-in-out;
}

.popup {
    display: none;
    width: 100%;
    height: 100%;
}
.popupBody {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1000;
    box-shadow: var(--shadow-sm);
    border-radius: 5px;
    background: white;
    width: 90%;
    height: max-content;
}

.universalBlurredBackground {
    pointer-events: none;
    opacity: 0;

    transition: all .2s ease-in-out;

    position: fixed;            /* fixed is usually better for full-screen overlays */
    inset: 0;                   /* shorthand for top/left/right/bottom = 0 */
    z-index: 700;

    backdrop-filter: none;
    -webkit-backdrop-filter: blur(10px); /* Safari */

    background: rgba(255, 255, 255, 0.05); /* REQUIRED for Firefox & consistency */
}


.cator {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    overflow-y: scroll;
    flex: 1;
    min-height: 0; 
}
.artistDiv {
    flex: 1 1 calc(33.333% - 10px);
    height: 75px;
    background: white;
    border-radius: 5px;
    box-shadow: var(--shadow-sm);
    display: flex;
    align-items: center;
    justify-content: center;

}
.artistDiv > div {
    font-weight: bold;
    background: rgba(0, 0, 0, 0.692);
    width: 100%;
    text-align: center;
    color: white;

}




.adminAddChannel,.adminUsersList {
    background: white;
}
.channel_name {
    outline: none;
    height: 25px;
    width: 80%;
    border-radius: 5px;
    border: 2px solid black;
}
.channel_select {
    width: 30%;
    border: 2px solid black;
    outline: none;
    height: 30px;
    border-radius: 5px;
}
.channel_divider {
    outline: none;
    height: 25px;
    width: 20%;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.channel_submit {
    outline: none;
    height: 30px;
    width: 30%;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.channel_error {
    border: 2px solid red;
}

.openCloseGroup {
    width: 100%;
    text-align: left;
    color: white;
    text-decoration: underline;
    padding-left: 10px;
    margin-top: 5px;
}
.openClose_open {
    color: #cf9eff;
}

.adminUsersList > :first-child > * {
    font-weight: bold;
    color: white !important;
    background-color: black;
    height: 35px;
}
.users_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.users_row_gray {
    background: rgb(221, 221, 221);
}
.users_row > * {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.users_id {
    width: 20%;
}
.users_name {
    width: 40%;

}
.users_songs {
    width: 20%;

}
.users_banned {
    width: 20%;

}
.users_checkbox {
    height: 25px;
    width: 25px;
}

.multiContainer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.multi_visible {
    background: #0000006e;
    border-radius: 5px;
}
.seeVariations {
    width: 50%;
    font-size: 11px;
    color: white;
    border-radius: 3px;
    text-decoration: underline;
}

.multi_visible .channel_title {
    color: #b8ffb8;
    opacity: 1 !important;
}
.channel_title {
    font-size: 11px !important;
}
.spinner {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: spin .7s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



#scene_screen_2 {
    width: 100%;
    height: 100%;
    flex-direction: row;
    
}
.s2_column_a {
    width: 80%;
    height: 100%;
}
.s2_screen_display {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}
.s2_bottom_row {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgb(32, 32, 32);
}
.s2_qr_holder {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s2_art_display {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1;
    overflow: hidden;
}
.s2_art_display > img {
    width: auto;
    height: 100%;
}
.s2_logo {

}
.video_foreground {
    height: 95% !important;
    width: auto !important;
}

.s2_column_b {
    width: 20%;
    height: 100%;
    background: rgb(32, 32, 32);
    padding: 10px;
    padding-top: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}
.glow-gold {
  border: 2px solid #ffd65c;
  box-shadow:
    inset 0 0 10px rgba(255,214,92,0.6),
    inset 0 0 25px rgba(255,214,92,0.4),
    0 0 10px rgba(255,214,92,0.8),
    0 0 25px rgba(255,214,92,0.9);
}
.glow-blue {
  border: 2px solid #4fc3ff;
  box-shadow:
    inset 0 0 10px rgba(79,195,255,0.6),
    inset 0 0 25px rgba(79,195,255,0.4),
    0 0 10px rgba(79,195,255,0.8),
    0 0 25px rgba(79,195,255,0.9);
}
.mini_text {
    font-size: 20px; 
    margin-top: 20px;
    opacity: 0.7;

}

.appearingTextColored {
    color: red;
}




.firework {
  position: absolute;
  width: 2px;

  border-radius: 50%;
}
.firework_transition {
  transition: all 2s;
}
.firework_explode {
  content:"";
  position:absolute;
  left:50%;
  top:0;
  width:6px;
  height:6px;
  border-radius:50%;
  transform: translate(-50%, -100%) scale(0.1);
  opacity: 0;
  background: currentColor;
  box-shadow:
    0 -70px 0 0 currentColor,
    50px -50px 0 0 currentColor,
    70px 0 0  currentColor,
    50px 50px 0 0 currentColor,
    0 70px 0 0  currentColor,
    -50px 50px 0 0 currentColor,
    -70px 0 0  currentColor,
    -50px -50px 0 0 currentColor;
  animation: boom2 1.3s ease-out;
}

@keyframes boom2{
  0%   { opacity: 0; transform: translate(-50%, -100%) scale(0.1); }
  55%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 0; transform: translate(-50%, -100%) scale(1); }
}


.hidden_menu {
    opacity: 0.8;
}

.search_hidden_3 {
    filter: invert(1);
    transform: none; 
}

.changesong_toprow {
    margin-top: 50px;
}


.snowflake {
    position: absolute;
    pointer-events: none;
    user-select: none;
    color: white;
    font-size: 12px;
    opacity: 0;
    transition:
        transform linear,
        opacity linear;
    text-shadow: 0 0 6px rgba(255,255,255,0.8);
}
.valentine_heart {
    position: absolute;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    color: #ff4d6d;
    text-shadow: 0 0 8px rgba(255, 77, 109, 0.6);
    transition:
        transform linear,
        opacity linear;
}


.userReviews {
    display: none;
    width: 97%;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    color: white;
    box-shadow: var(--shadow-sm);

    background: linear-gradient(to bottom, #403443, #28192b);

    border: 2px solid white;
    
    box-shadow:/* h-shadow v-shadow blur spread color */
    0 0 10px 1px rgba(255, 0, 0, 0.7),
    0 0 20px 1px rgba(255, 51, 0, 0.4)
}
.usersReviewTitle {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 16px;
}
.reviewSongContainer {

}
.stars_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    height: 40px;
    margin-top: 10px;
}
.stars_container > img {
    height: 95%;
}

.displayStarHolder {
    height: 17px;
    align-self: center;
    position: relative;
    display: flex;
    align-items: center;
    padding-top:2px;
    
}
.songStar {
    height: 60%;
}
.twoStarHolder {
    height: 60%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.twoStarHolder > * {
    height: 100%;
}
.star_absolute {
    position: absolute;
    height: 100% !important;
}
.seperator {
    transform: scale(2);
    margin-left: 5px;
    margin-right: 5px;
}

.extraSpace {
    flex: 1;
}
.over_x_songs {
    color: white;
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
    z-index: 1;
    background-image: var(--brush);
    transition: all 1s ease-out;
}
.over_x_songs:active {
    transform: scale(1.2);
}